body {
    font-family: "Avenir Next";
}

.red {
    width: 400px;
    height: 100px;
    background-color: #f00;
    position: relative;
}

.white {
    top: 20px;
    right: 20px;
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
}

.purple {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #6729a0;
}

.purple:first-child {
    margin-left: 0;
}

.green-container {
    display: flex;
}

.green {
    width: 150px;
    height: 250px;
    background-color: #0a5;
}

.blue {
    width: 250px;
    height: 250px;
    background-color: #2563eb;
    position: relative;
}

.orange-wrapper {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
    box-sizing: border-box;
}

.orange {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin-bottom: 10px;
}

.orange:last-child {
    margin-bottom: 0;
}

.yellow {
    width: 400px;
    height: 100px;
    background-color: #fd0;
}