body {
    font-family: "Avenir Next";
}

.red {
    width: 400px;
    height: 100px;
    background-color: #f00;
}

.white {
    top: 20px;
    right: 20px;
}

.purple {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #6729a0;
}

.green {
    width: 150px;
    height: 250px;
    background-color: #0a5;
}

.blue {
    width: 140px;
    height: 250px;
    background-color: #2563eb;
}

.oreange {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
}

.yellow {
    width: 400px;
    height: 100px;
    background-color: #fd0;
}